@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1em;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e38f22;
  background-size: cover;
  height: 100%;
  color: white;
}

.content {
  padding: 3rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 1rem;
}

.button {
  padding: 0.7rem;
  border: 1px solid black;
  text-decoration: none;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  margin: 0.75rem 0;
  font-weight: 300;
}

.socials {
  margin-top: 1rem;
  color: white;
  font-size: 1.2rem;
}

.socials i {
  margin: 0 0.5rem;
}

a {
  color: white;
  text-decoration: none;
}
